@font-face{
  font-family: 'Wandile';
  src: url('fonts/wandil.woff') format('woff');
  src: url('fonts/wandile.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: 'Inter', sans-serif;
    background: #000;
    color: #fff;
    padding: 1.3rem;
  }
  
  .header {
    mix-blend-mode: difference;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 2rem;
    
  }
  .top {
    position: fixed;
    width:100%;
    padding-right: 70px;
    z-index: 999;
  }
  .name-role p {
    text-decoration:none;
    color:white;
    font-weight: 500;
    font-size: 13px;
    font-style: normal;
    line-height: 20px;
  }
  
  
  .nav a {
    font-weight: 600;
    font-size: 13px;
    font-style: normal;
    margin-left: 1rem;
    text-decoration: none;
    color: #f9f6f4;
    line-height:20px;
    transition: all 0.3s ease-in-out;
  }
  
  .nav a:hover {
    text-decoration: underline;
    color: rgb(28, 28, 28);
    transition: all 0.3s ease-in-out;
  }

  .kitchen-section {
    position: relative;
    width: 80%;
    height: 90vh;
    margin: 0 auto;
    margin-bottom: 40px;
    overflow: hidden;
  }
  
  .bottom{
    margin-top:70px;
    z-index: -999;
  }

  .kitchen-image {
    width: 60%;
    height: auto;
    object-fit: cover;
    display: block;
    z-index: -997;
  }
  
  .kitchen-overlay {
    z-index: 999;
    position: absolute;
    margin-top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
   
  }
  
  .subtitle {
    z-index: 998;
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 1rem;
    color: white;
    opacity: 0;
    transform: translateY(20px);
  }
  
  .title {
    z-index: 998;
    font-size: 9.5rem;
    font-weight: normal;
    line-height: 1;
    font-family: 'wandile', serif;
    color: white;
    opacity: 0;
    transform: translateY(20px);
  }
  
  .arrow-button {
    z-index: 998;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0;
    transition: background-color 0.4s ease;
    transition: 0.4s ease-in-out;
  }
  
  .arrow-button:hover {
    background-color: #000;
  }
  
  .arrow-icon {
    color: white;
    font-size: 1.5rem;
    transition: 0.4s ease-in-out;
  }
  .arrow-icon a {
    color:#000;
    transition: 0.4s ease-in-out;
    text-decoration:none;
  }
  .arrow-icon a:hover {
    color:#fff;
    text-decoration:none;
  }
  

  
  @media (max-width: 1024px) {
    .kitchen-section {
      width: 85%;
    }
    .title {
      font-size: 3rem;
    }
  }
  
  @media (max-width: 768px) {
    .kitchen-section {
      width: 100%;
      height: auto;
    }
    .title {
      font-size: 3.5rem;
    }
  }
  
  @media (max-width: 480px) {
    .kitchen-section {
      height: 35vh;
    }
    .subtitle {
      font-size: 0.8rem;
      font-weight:600;
    }
    .title {
      font-size: 3rem;
    }
    .arrow-button {
      width: 40px;
      height: 40px;
      margin-top:15px;
    }
    .name-role .role  {
      font-size: 10px;
    
    }
    .nav a {
      font-weight: 400;
    }
    .nav{
      margin-right:-10px;
    }
    
  }

  .bottom-corner {
    position: fixed;
    bottom: 20px;
    left: 20px;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    text-align: left;
    z-index: 9999;
  }
  
  .label-name {
    font-weight: 500;
    font-size: 13px;
  }
  
  .current-month {
    font-size: 13px;
  }
  
  
    .bottom {
      background-color: #f9f6f4;
      padding: 40px;
      font-family: 'Inter', serif;
      color: #555;
      border-radius: 6px;
      margin-bottom: 100px;
    }
    
    .bottom-content {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
    
    .bottom-left {
      max-width: 400px;
    }
    
    .font-button {
      
      color: white;
      border: none;
      padding: 10px 14px;
      border-radius: 6px;
      margin-bottom: 20px;
      cursor: pointer;
    }
    
    .schedule-btn {
      font-size: 10px;
      display: inline-flex;
      align-items: center;
      background: #f1edeb;
      padding: 22px 20px;
      border-radius: 30px;
      border: none;
      font-weight: 700;
      margin-bottom: 30px;
      text-decoration:none;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
    }
    .bottom a{
      color:#000;
      text-decoration:none;
    }
    .schedule-btn .dot {
      width: 10px;
      height: 10px;
      background-color: teal;
      border-radius: 50%;
      margin-right: 10px;
    }
    .schedule-btn:hover {
      background-color: #000;
      color: #fff;
    }

    .bottom-right {
      max-width: 400px;
    }

    .bottom-right h3 {
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 20px;
    }

    .bottom-right p {
      font-size: 1rem;
      margin-bottom: 20px;
    }

    .bottom-right ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    
    .section {
      margin-bottom: 20px;
    }
    
    .section h4 {
      margin-bottom: 20px;
      font-size: 0.75rem;
      font-weight: bold;
      text-transform: uppercase;
      color: #222;
    }
    
    .section p {
      font-size: 1rem;
      color: #777;
      margin-top: 5px;
    }
    
    .bottom-right img {
      max-height: 300px;
    }
    .copyright{
      margin-top: 100px;
      font-size: 12px;
      font-weight: 700;
    }
    @media (max-width: 768px) {
      .bottom-content {
        flex-direction: column;
        align-items: flex-start;
      }
    
      .bottom-right {
        margin-top: 30px;
      }
      .bottom-right img {
       display: none;
      }
    }
    
    #time-location p {
      font-size: 13px;
      font-weight:600;
      display: flex;
      align-items: center;
      gap: 10px;
      
    }
    
    #datetime-wrapper {
      display: inline-block;
      width: 140px; /* Fixed width to prevent shifting */
      text-align: left;
    }
    
    .divider-dot {
      width: 6px;
      height: 6px;
      background-color: #555;
      border-radius: 50%;
      display: inline-block;
    }
    
    .coding-icon{
      position: fixed;
      bottom: 20px;
      right: 20px;
      z-index: 9999;
      background-color: #fff;
      color: #000;
      padding: 10px 15px;
      border-radius: 20px;
      font-size: 13px;
    }
    